<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--Style-->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">

    <title>{% block title %}{% endblock %}</title>

    <!-- Fonte Awesome icons-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="/static/images/logoWhite.png">

</head>

<body style="margin-top: 80px;"><!-- Altura das 2 Navbars -->
    <!--NavBar Top-->
    <header class="fixed-top">
        <nav class="navbar navbar-expand-sm bg-light navbar-light navbar-top">
            <div class="container">
                    
                <a class="navbar-brand" href="/"  style="font-size: 20px; color: #43437c;">
                <img src="/static/images/logo.png" class="align-top" width="35" height="35" alt="Logo">
                Scrum Teach
                </a>
                    
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav  ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Aulas</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/introducao">Introdução</a></li>
                            <li><a class="dropdown-item" href="/papeis">Papéis do Time</a></li>
                            <li><a class="dropdown-item" href="/eventos">Eventos Scrum</a></li>
                            <li><a class="dropdown-item" href="/ferramentas">Artefatos e Ferramentas</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/avaliacao">Avaliação</a>
                    </li>

                    </ul>
                </div>
            </div>
        </nav>

        <!--Navbar Bottom-->
        <nav class="navbar navbar-expand justify-content-center navbar-bottom navbar-dark mobile">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/introducao">Introdução</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/papeis">Papéis do Time</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/eventos">Eventos Scrum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ferramentas">Artefatos e Ferramentas</a>
                </li>
            </ul>
        </nav>
    </header>
    <!--Sidebar-->
    <div class="container-fluid">
        <div class="sidebar list-group">
            {% block sidebar %}
            {% endblock %}
        </div>
    </div>

    <!--Conteúdo-->
    {% block content %}
    {% endblock %}

    <div class=" conmain"></div>
    <!--Footer-->
    <footer class="text-center text-lg-start bg-body-tertiary bg-gray main pt-1">
        <section class="">
            <div class="container text-center text-md-start">
                <div class="row mt-3">
                    <!-- Scrum Teach Texto -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-1">
                        <h6 class="text-uppercase fw-bold mb-2">Scrum Teach</h6>
                        <p>
                            Conheça a equipe Scrum Teach, especializada em capacitar funcionários no framework Scrum para promover eficiência e colaboração em sprints. Estamos prontos para guiá-los rumo ao sucesso ágil.
                        </p>
                    </div>
                    
                    <!-- Páginas Principais -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-1">
                        <h6 class="text-uppercase fw-bold mb-2">Páginas Principais</h6>
                        <ul class="no-bullets">
                            <li><a href="/">Home</a></li>
                            <li><a href="/introducao">Aulas</a></li>
                            <li><a href="/avaliacao">Avaliações</a></li>
                        </ul>
                    </div>

                    <!-- Assistência Técnica -->
                    <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-1">
                        <h6 class="text-uppercase fw-bold mb-2">Assistência Técnica</h6>
                        <ul class="no-bullets">
                            <li><i class="fa-solid fa-location-dot me-2"></i>Av. Cesare Monsueto G. Lattes, 1350 - SJC - SP</li>
                            <li><i class="fa-solid fa-phone me-2"></i>(+55) 12 9999-9999</a></li>
                            <li></a><i class="fa-solid fa-envelope me-2"></i>suport@scrumteach.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </footer>

    <!--Copyright-->
    <div class="copyright text-center main">
        <div class="container py-1"><small>Copyright &copy; 2024 | Scrum Teach | Todos Direitos Reservados.</small></div>
    </div>

    <!--Bootstrap Java-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
