{% extends 'base2.html' %}

<!--Título-->
{% block title %}Eventos{% endblock %}

<!--Botão Sidebar-->
{% block sidebar %}
<a href="#" class="list-group-item list-group-item-action bg-lightgray"><i class="fas fa-calendar-check fa-fw me-2"></i></i><span>Eventos do SCRUM</span></a>
<a href="#sprint" class="list-group-item list-group-item-action bg-lightgray"><i class="fas fa-person-running fa-fw me-2"></i><span>Sprint</span></a>
<a href="#plan" class="list-group-item list-group-item-action bg-lightgray"><i class="fas fa-users-gear fa-fw me-2"></i><span>Sprint Planning</span></a>
<a href="#daily" class="list-group-item list-group-item-action bg-lightgray"><i class="fas fa-calendar-days fa-fw me-2"></i><span>Daily SCRUM</span></a>
<a href="#review" class="list-group-item list-group-item-action bg-lightgray"><i class="fas fa-backward fa-fw me-2"></i><span>Sprint Review</span></a>
<a href="#retro" class="list-group-item list-group-item-action bg-lightgray"><i class="fas fa-rotate fa-fw me-2"></i><span>Sprint Retrospective</span></a>
<a href="#exercicios" class="list-group-item list-group-item-action bg-lightgray"><i class="fas fa-check fa-fw me-2"></i><span>Exercícios</span></a>
{% endblock %}

<!--Conteúdo-->
{% block content %}
<!-- Introdução -->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center pt-4 container-fluid main bg-gray" style="margin-top: 40px;">
    <div class="col-lg-5">
        <h3 class="font-weight-light">Eventos do Scrum</h3>
        <p>
            O Scrum é baseado em encontros predefinidos chamados eventos e cada um deles tem diretrizes específicas de participação e duração estimada, oferecendo oportunidades para planejamento, sincronização, revisão e melhoria contínua essenciais na metodologia ágil.
        </p>
        <p>São esses quatro eventos:</p>
        <ul>
            <li>Planejamento da sprint (Sprint Planning)</li>
            <li>Daily Scrum</li>
            <li>Revisão da sprint (Sprint Review)</li>
            <li>Retrospectiva da sprint(Sprint Retrospective)</li>
        </ul>
    </div>
    <div class="col-lg-5 text-center"><img class="img-fluid rounded pb-2 mb-lg-0" src="/static/images/eventosScrum.png" alt="..." /></div>
</div>

<!-- Sprint -->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-5 container-fluid main" id="sprint">
    <div class="col-lg-5">
        <h3 class="font-weight-light">Sprint</h3>
        <p>
            Uma sprint é como uma corrida curta em uma pista de atletismo. Durante essa corrida, a equipe de desenvolvimento trabalha para criar uma parte funcional do produto. É como se eles estivessem construindo um pedaço do quebra-cabeça, que, quando todas as partes são unidas, forma o produto completo.
        </p>
        <p>
            Cada sprint tem um tempo fixo, geralmente de uma a quatro semanas, e no final dela, a equipe apresenta o que construiu. Isso permite que a equipe entregue valor ao cliente de forma incremental, ou seja, o produto vai sendo construído aos poucos, com feedback constante dos usuários.
        </p>
    </div>
    <div class="col-lg-5">
        <div class="video_wrapper">
        <iframe 
            src="https://www.youtube.com/embed/4SCyriM7-_o?si=WIAgfwoUHNwgK_nE">
        </iframe>
        </div>
    </div>
</div>


<!-- Sprint Planning -->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center container-fluid main" id="plan">
    <div class="col-lg-5">
        <h3 class="font-weight-light">Sprint Planning</h3>
        <p>
            Na Sprint Planning, a equipe de desenvolvimento e o Product Owner se juntam para decidir o que vão fazer na próxima etapa de trabalho, chamada de sprint. Eles escolhem quais tarefas do projeto serão feitas nessa etapa, baseados no que é mais importante para o cliente e no que a equipe pode fazer.
        </p>
        <p>
            Imagine que é como planejar uma viagem: você decide para onde quer ir, quanto tempo terá e o que precisa levar, e assim monta um roteiro para a jornada da equipe. Ao final, todos sabem exatamente o que precisam fazer e como vão fazer durante a sprint.
        </p>
    </div>
    <div class="col-lg-5 text-center"><img class="img-fluid rounded mb-lg-0" src="/static/images/planning.png" height="400" width="400" alt="..." /></div>
</div>

<!-- Daily Scrum -->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center pb-5 container-fluid main" id="daily">
    <div class="col-lg-5">
        <h3 class="font-weight-light">Daily Scrum</h3>
        <p>
            O Daily Scrum um encontro diário rápido, ele acontece geralmente no início do dia de trabalho. Durante o Daily Scrum, a equipe se reúne por cerca de 15 minutos para falar sobre o progresso do projeto.
        </p>
        <p>Cada membro responde a três perguntas simples:</p>
        <ul>
            <li>O que fiz ontem?</li>
            <li>O que farei hoje?</li>
            <li>Há algum obstáculo no meu caminho?</li>
        </ul>
        <p>
            Essas perguntas ajudam a equipe a ficar sincronizada, compartilhar informações e identificar qualquer problema que possa surgir. É uma maneira rápida e eficaz de garantir que todos estejam na mesma página e trabalhando na direção certa.
        </p>
    </div>
    <div class="col-lg-5 text-center"><img class="img-fluid rounded mb-lg-0" src="/static/images/daily.png" height="300" width="300" alt="..." /></div>
</div>

<!-- Sprint Review -->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center pb-5 container-fluid main" id="review">
    <div class="col-lg-5">
        <h3 class="font-weight-light">Sprint Review</h3>
        <p>
            A Sprint Review é como uma apresentação de projeto. Ela acontece no final de cada sprint, quando a equipe mostra o que conseguiu fazer. Participam dela a equipe de desenvolvimento, o Product Owner, e outras pessoas interessadas no projeto, como clientes ou gerentes.
        </p>
        <p>
            É como um show-and-tell, onde é compartilhado o que foi realizado durante aquela sprint. Isso é importante porque permite que todos vejam o progresso do projeto e deem feedback. É uma oportunidade para ajustar o curso do projeto, se necessário, e garantir que o produto final atenda às expectativas do cliente.
        </p>
    </div>
    <div class="col-lg-5">
        <div class="video_wrapper">
        <iframe
            src="https://www.youtube.com/embed/3gwKkd7QyKs?si=HCO1vlRTYyYOfzJ_">
        </iframe>
        </div>
    </div>
</div>

<!-- Sprint Retrospective -->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center pb-5 container-fluid main" id="retro">
    <div class="col-lg-5">
        <h3 class="font-weight-light">Sprint Retrospective</h3>
        <p>
            A Sprint Retrospective, ou Retrospectiva da Sprint, é uma reunião realizada ao final de cada sprint após a Review. Nela a equipe se reúne para refletir sobre como as coisas foram.
        </p>
        <p>
            É uma chance de olhar para trás e discutir o que funcionou bem, o que não funcionou tão bem e o que pode ser melhorado para a próxima vez. Todo mundo participa, e é uma oportunidade para compartilhar ideias e sugestões para tornar o trabalho ainda melhor.
        </p>
    </div>
    <div class="col-lg-5"><img class="img-fluid rounded mb-lg-0" src="/static/images/retrospective.png" alt="..." /></div>
</div>

<!-- Quiz -->
<div class="container-fluid main col-lg-10" id="exercicios">
    <div class="text-center">
        <h3>Teste seu Conhecimento</h3>
    </div>

    <form action="/submitEventos" method="post">
        {% for question in questionsE %}
        <div class="card mb-1">
            <div class="card-header bg-blue text-white">
                <span>{{ question.question }}</span>
            </div>
            <div class="card-body">
                {% for option in question.options %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{ question.question }}" id="{{ option }}" value="{{ option }}" required>
                    <label class="form-check-label" for="{{ option }}">{{ option }}</label>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary">Conferir</button>
        </div>
    </form>
    <div class="text-center mt-3">
        <h3>Resultado</h3>
        <p>Sua nota é: {{ score }} / {{ total }}</p>
    </div>
</div>

{% if scroll %}
<script>
    document.location.hash = '#' + '{{ scroll }}';
</script>
{% endif %}

{% endblock %}