{% extends 'base2.html' %}

<!--Título-->
{% block title %}Ferramentas e Artefatos{% endblock %}

<!--Botão Sidebar-->

{% block sidebar %}
<a href="#" class="list-group-item list-group-item-action bg-lightgray"><i class="fas fa-people-group fa-fw me-2"></i></i><span>Ferramentas e Artefatos</span></a>
<a href="#" class="list-group-item list-group-item-action bg-lightgray"><i class="fas fa-person-running fa-fw me-2"></i><span>Product Backlog</span></a>
<a href="#" class="list-group-item list-group-item-action bg-lightgray"><i class="fas fa-users-gear fa-fw me-2"></i><span>Sprint Backlog</span></a>
<a href="#" class="list-group-item list-group-item-action bg-lightgray"><i class="fas fa-calendar-days fa-fw me-2"></i><span>User Stories</span></a>
<a href="#" class="list-group-item list-group-item-action bg-lightgray"><i class="fas fa-backward fa-fw me-2"></i><span>Planning Poker</span></a>
<a href="#" class="list-group-item list-group-item-action bg-lightgray"><i class="fas fa-rotate fa-fw me-2"></i><span>Burndown Chart</span></a>
<a href="#" class="list-group-item list-group-item-action bg-lightgray"><i class="fas fa-check fa-fw me-2"></i><span>Exercícios</span></a>
{% endblock %}

<!--Conteúdo-->
{% block content %}
<!-- Introdução -->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid main bg-gray" style="margin-top: 40px;">
    <div class="col-lg-5">
        <h2 class="font-weight-light">Ferramentas e Artefatos</h2>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, obcaecati atque voluptas et aliquid quia voluptates voluptatum maiores quae blanditiis distinctio ea iusto. Dignissimos nihil, hic porro iusto magnam ex? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae, saepe. Ipsum, commodi numquam praesentium labore eaque voluptate magnam doloribus atque? Harum recusandae temporibus nulla itaque est iusto autem deserunt placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
    </div>
    <div class="col-lg-5"><img class="img-fluid rounded pb-4 mb-lg-0" src="/static/images/Ferramentas1.png" alt="..." /></div>
</div>

<!--Product Backlog-->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid main">
    <div class="col-lg-5">
        <h2 class="font-weight-light">Product Backlog</h3>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, obcaecati atque voluptas et aliquid quia voluptates voluptatum maiores quae blanditiis distinctio ea iusto. Dignissimos nihil, hic porro iusto magnam ex? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae, saepe. Ipsum, commodi numquam praesentium labore eaque voluptate magnam doloribus atque? Harum recusandae temporibus nulla itaque est iusto autem deserunt placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
    </div>
    <div class="col-lg-5"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>
</div>


<!-- Sprint Backlog -->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid main">
    <div class="col-lg-5">
        
        <h2 class="font-weight-light">Sprint Backlog</h3>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, obcaecati atque voluptas et aliquid quia voluptates voluptatum maiores quae blanditiis distinctio ea iusto. Dignissimos nihil, hic porro iusto magnam ex? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae, saepe. Ipsum, commodi numquam praesentium labore eaque voluptate magnam doloribus atque? Harum recusandae temporibus nulla itaque est iusto autem deserunt placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
    </div>
    <div class="col-lg-5"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>
</div>

<!-- User Stories -->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid main">
    <div class="col-lg-5">
        <h2 class="font-weight-light">User Stories</h3>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, obcaecati atque voluptas et aliquid quia voluptates voluptatum maiores quae blanditiis distinctio ea iusto. Dignissimos nihil, hic porro iusto magnam ex? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae, saepe. Ipsum, commodi numquam praesentium labore eaque voluptate magnam doloribus atque? Harum recusandae temporibus nulla itaque est iusto autem deserunt placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
    </div>
    <div class="col-lg-5"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>
</div>

<!-- Planning Poker -->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid main">
    <div class="col-lg-5">
        <h2 class="font-weight-light">Planning Poker</h3>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, obcaecati atque voluptas et aliquid quia voluptates voluptatum maiores quae blanditiis distinctio ea iusto. Dignissimos nihil, hic porro iusto magnam ex? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae, saepe. Ipsum, commodi numquam praesentium labore eaque voluptate magnam doloribus atque? Harum recusandae temporibus nulla itaque est iusto autem deserunt placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
    </div>
    <div class="col-lg-5"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>
</div>

<!-- Burndown -->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid main">
    <div class="col-lg-5">
        <h2 class="font-weight-light">Burndown Chart</h3>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, obcaecati atque voluptas et aliquid quia voluptates voluptatum maiores quae blanditiis distinctio ea iusto. Dignissimos nihil, hic porro iusto magnam ex? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae, saepe. Ipsum, commodi numquam praesentium labore eaque voluptate magnam doloribus atque? Harum recusandae temporibus nulla itaque est iusto autem deserunt placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
    </div>
    <div class="col-lg-5"><img class="img-fluid rounded pb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>
</div>
{% endblock %}
