{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}


    <!-- Aprenda Scrum -->
    <section class="w-100 h-100 d-flex justify-content-around align-items-center py-3" style="background-color: lightgray;">
      <div>
        <h1 class="font-weight-bold" style="font-size: 4rem">Aprenda Scrum</h1>
        <h2 style="font-size: 3rem">Conheça mais sobre</h2>
        <h2 style="font-size: 3rem">essa metodologia.</h2>
      </div>
      <!-- caminho da imagem da seção "Aprenda Scrum" -->
      <img src="/static/images/img/scrum.png" width="450" height="400">
    </section>
    <!-- O que é Scrum? -->
    <section class="w-100 h-100" style="background-color: white;">
      <h1 class="text-center mb-5 mt-5" style="font-size: 5rem">O que é scrum?</h1>
      <div class="d-flex justify-content-center align-items-center" style="gap: 6rem">
        <div style="max-width: 35%;">
          <h2>Aprenda sobre essa metodologia</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates soluta quisquam maxime culpa repudiandae dolor, suscipit quod, odio iure beatae nesciunt voluptate omnis dolores magni necessitatibus sequi! Maiores, sed perspiciatis!</p>
          <a href="/introducao"class="btn btn-primary" style="background-color: #0f2869;">Iniciar</a>
        </div>
        <!-- caminho da imagem da seção "O que é Scrum?" -->
        <img src="/static/images/img/oqueescrum.png" width="450" height="400">
      </div>
    </section>
    <!-- Papéis de um time -->
    <section class="w-100 h-100 d-flex justify-content-center align-items-center" style="background-color: lightgray; gap: 4.5rem;">
      <div class="text-center" style="max-width: 55%;">
        <h1 class="font-weight-bold" style="font-size: 4rem">Papéis de um time</h1>
        <h2 class="pb-5" style="font-size: 2rem">Aprenda mais sobre os integrantes de um time SCRUM</h2>
        <div class="w-100 d-flex flex-column align-items-center" style="gap: 1rem">
          <a href="/papeis#PO" class="btn btn-primary d-block" style="background-color: #0a193f; font-size: 1.8rem; width: 65%;">Product Owner</a>
          <a href="/papeis#master" class="btn btn-primary d-block" style="background-color: #0a193f; font-size: 1.8rem; width: 65%;">Scrum Master</a>
          <a href="/papeis#devteam" class="btn btn-primary d-block" style="background-color: #0a193f; font-size: 1.8rem; width: 65%;">Dev Team</a>
        </div>
      </div>
      <!-- caminho da imagem da seção "Papéis de um time" -->
      <img src="/static/images/img/papeisdeumtime.png" width="450" height="400">
    </section>
    <!-- Eventos do SCRUM -->
    <section class="w-100 h-100 d-flex justify-content-center align-items-center py-3" style="background-color: white; gap: 4.5rem;">
      <div class="text-center" style="max-width: 55%;">
        <h1 class="font-weight-bold" style="font-size: 4rem">Eventos do scrum</h1>
        <h2 class="pb-5" style="font-size: 2rem">Aprenda sobre os eventos do SCRUM</h2>
        <div class="w-100 d-flex flex-column align-items-center" style="gap: 1rem">
          <a href="/eventos#sprint" class="btn btn-primary d-block" style="background-color: #0a193f; font-size: 1.8rem; width: 65%;">Sprint</a>
          <a href="/eventos#plan" class="btn btn-primary d-block" style="background-color: #0a193f; font-size: 1.8rem; width: 65%;">Sprint planning</a>
          <a href="/eventos#daily" class="btn btn-primary d-block" style="background-color: #0a193f; font-size: 1.8rem; width: 65%;">Daily Scrum</a>
          <a href="/eventos#review" class="btn btn-primary d-block" style="background-color: #0a193f; font-size: 1.8rem; width: 65%;">Sprint Review</a>
          <a href="/eventos#retro" class="btn btn-primary d-block" style="background-color: #0a193f; font-size: 1.8rem; width: 65%;">Sprint Retrospective</a>
        </div>
      </div>
      <!-- caminho da imagem da seção "Eventos do scrum" -->
      <img src="/static/images/img/eventosdoscrum.png" width="450" height="400">
    </section>
    <!-- Ferramentas e Artefatos -->
    <section class="w-100 h-100 d-flex justify-content-center align-items-center py-3" style="background-color: lightgray; gap: 4.5rem;">
      <div class="text-center" style="max-width: 55%;">
        <h1 class="font-weight-bold" style="font-size: 4rem">Ferramentas e Artefatos</h1>
        <h2 class="pb-5" style="font-size: 2rem">Aprenda sobre as ferramentas e artefatos</h2>
        <div class="w-100 d-flex flex-column align-items-center" style="gap: 1rem">
          <a href="/ferramentas#" class="btn btn-primary d-block" style="background-color: #0a193f; font-size: 1.8rem; width: 65%;">Product backlog</a>
          <a href="/ferramentas#" class="btn btn-primary d-block" style="background-color: #0a193f; font-size: 1.8rem; width: 65%;">Sprint Backlog</a>
          <a href="/ferramentas#" class="btn btn-primary d-block" style="background-color: #0a193f; font-size: 1.8rem; width: 65%;">User Stories</a>
          <a href="/ferramentas#" class="btn btn-primary d-block" style="background-color: #0a193f; font-size: 1.8rem; width: 65%;">Kanban</a>
          <a href="/ferramentas#" class="btn btn-primary d-block" style="background-color: #0a193f; font-size: 1.8rem; width: 65%;">Burndown Chart</a>
        </div>
      </div>
      <!-- caminho da imagem da seção "Ferramentas e Artefatos" -->
      <img src="/static/images/img/artefatosdoscrum.png" width="450" height="400">
    </section>

{% endblock %}
