{% extends 'base2.html' %}

<!--Título-->
{% block title %}Introdução{% endblock %}

<!--Botão Sidebar-->

{% block sidebar %}
<a href="#" class="list-group-item list-group-item-action bg-lightgray"><i class="fas fa-people-group fa-fw me-2"></i></i><span>Introdução</span></a>
<a href="#" class="list-group-item list-group-item-action bg-lightgray"><i class="fas fa-person-running fa-fw me-2"></i><span>Por que usar Scrum?</span></a>
<a href="#" class="list-group-item list-group-item-action bg-lightgray"><i class="fas fa-users-gear fa-fw me-2"></i><span>Pilares do Scrum</span></a>
<a href="#" class="list-group-item list-group-item-action bg-lightgray"><i class="fas fa-calendar-days fa-fw me-2"></i><span>Metodologia Ágil</span></a>
<a href="#" class="list-group-item list-group-item-action bg-lightgray"><i class="fas fa-check fa-fw me-2"></i><span>Exercícios</span></a>
{% endblock %}

<!--Conteúdo-->
{% block content %}
<!-- Introdução -->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid main bg-gray" style="margin-top: 40px;">
    <div class="col-lg-5">
        <h2 class="font-weight-light">Introdução</h2>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, obcaecati atque voluptas et aliquid quia voluptates voluptatum maiores quae blanditiis distinctio ea iusto. Dignissimos nihil, hic porro iusto magnam ex? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae, saepe. Ipsum, commodi numquam praesentium labore eaque voluptate magnam doloribus atque? Harum recusandae temporibus nulla itaque est iusto autem deserunt placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
    </div>
    <div class="col-lg-5"><img class="img-fluid rounded pb-4 mb-lg-0" src="/static/images/Ferramentas1.png" alt="..." /></div>
</div>

<!-- O porquê de usar Scrum -->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid main">
    <div class="col-lg-5">
        <h2 class="font-weight-light">Por que usar Scrum?</h3>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, obcaecati atque voluptas et aliquid quia voluptates voluptatum maiores quae blanditiis distinctio ea iusto. Dignissimos nihil, hic porro iusto magnam ex? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae, saepe. Ipsum, commodi numquam praesentium labore eaque voluptate magnam doloribus atque? Harum recusandae temporibus nulla itaque est iusto autem deserunt placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
    </div>
    <div class="col-lg-5"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>
</div>

<!-- Pilares do Scrum -->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid main">
    <div class="col-lg-5">
        
        <h2 class="font-weight-light">Pilares do Scrum</h3>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, obcaecati atque voluptas et aliquid quia voluptates voluptatum maiores quae blanditiis distinctio ea iusto. Dignissimos nihil, hic porro iusto magnam ex? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae, saepe. Ipsum, commodi numquam praesentium labore eaque voluptate magnam doloribus atque? Harum recusandae temporibus nulla itaque est iusto autem deserunt placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
    </div>
    <div class="col-lg-5"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>
</div>

<!-- Metodologia Ágil -->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid main">
    <div class="col-lg-5">
        <h2 class="font-weight-light">Metodologia Ágil</h3>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, obcaecati atque voluptas et aliquid quia voluptates voluptatum maiores quae blanditiis distinctio ea iusto. Dignissimos nihil, hic porro iusto magnam ex? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae, saepe. Ipsum, commodi numquam praesentium labore eaque voluptate magnam doloribus atque? Harum recusandae temporibus nulla itaque est iusto autem deserunt placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
    </div>
    <div class="col-lg-5"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>
</div>
{% endblock %}
