{% extends 'base2.html' %}

<!--Título-->
{% block title %}Introdução{% endblock %}

<!--Botão Sidebar-->

{% block sidebar %}
<a href="#" class="list-group-item list-group-item-action bg-lightgray"><i class="fas fa-star fa-fw me-2"></i></i><span>Introdução</span></a>
<a href="#porque" class="list-group-item list-group-item-action bg-lightgray"><i class="fas fa-question fa-fw me-2"></i><span>Por que usar Scrum?</span></a>
<a href="#pilar" class="list-group-item list-group-item-action bg-lightgray"><i class="fas fa-landmark fa-fw me-2"></i><span>Pilares do Scrum</span></a>
<a href="#agil" class="list-group-item list-group-item-action bg-lightgray"><i class="fas fa-jet-fighter fa-fw me-2"></i><span>Metodologia Ágil</span></a>
<a href="#exercicios" class="list-group-item list-group-item-action bg-lightgray"><i class="fas fa-check fa-fw me-2"></i><span>Exercícios</span></a>
{% endblock %}

<!--Conteúdo-->
{% block content %}
<!-- Introdução -->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid main bg-gray" style="margin-top: 40px;">
    <div class="col-lg-5">
        <h2 class="font-weight-light">Introdução</h2>
        <p>
            De forma simplificada, o Scrum é um framework, uma metodologia de trabalho que foi feita para auxiliar times a resolverem problemas simples ou complexos de forma fácil de se entender e ágil, aumentando a produtividade e qualidade do produto por conta de seus processos. O Scrum é fácil de se entender e aplicar, e nosso objetivo é provar isso por meio desse site, mostrando todos os seus processos e elementos de forma simples, mas primeiro nesse capítulo explicaremos o porquê de usar Scrum.  
        </p>
    </div>
    <div class="col-lg-5"><img class="img-fluid rounded pb-4 mb-lg-0" src="/static/images/Ferramentas1.png" alt="..." /></div>
</div>

<!-- O porquê de usar Scrum -->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid main" id="porque">
    <div class="col-lg-5">
        <h2 class="font-weight-light">Por que usar Scrum?</h3>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, obcaecati atque voluptas et aliquid quia voluptates voluptatum maiores quae blanditiis distinctio ea iusto. Dignissimos nihil, hic porro iusto magnam ex? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae, saepe. Ipsum, commodi numquam praesentium labore eaque voluptate magnam doloribus atque? Harum recusandae temporibus nulla itaque est iusto autem deserunt placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
    </div>
    <div class="col-lg-5"><img class="img-fluid rounded mb-4 mb-lg-0" src="/static/images/porque.png" alt="..." /></div>
</div>

<!-- Pilares do Scrum -->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid main" id="pilar">
    <div class="col-lg-5">
        
        <h2 class="font-weight-light">Pilares do Scrum</h3>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, obcaecati atque voluptas et aliquid quia voluptates voluptatum maiores quae blanditiis distinctio ea iusto. Dignissimos nihil, hic porro iusto magnam ex? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae, saepe. Ipsum, commodi numquam praesentium labore eaque voluptate magnam doloribus atque? Harum recusandae temporibus nulla itaque est iusto autem deserunt placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
    </div>
    <div class="col-lg-5">
        <div class="video_wrapper">
        <iframe
            src="https://www.youtube.com/embed/Tmjlf-o9WB0?si=FUhrYb0WhRjcVaFe">
        </iframe>
        </div>
    </div>
</div>

<!-- Metodologia Ágil -->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid main" id="agil">
    <div class="col-lg-5">
        <h2 class="font-weight-light">Metodologia Ágil</h3>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, obcaecati atque voluptas et aliquid quia voluptates voluptatum maiores quae blanditiis distinctio ea iusto. Dignissimos nihil, hic porro iusto magnam ex? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae, saepe. Ipsum, commodi numquam praesentium labore eaque voluptate magnam doloribus atque? Harum recusandae temporibus nulla itaque est iusto autem deserunt placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
    </div>
    <div class="col-lg-5"><img class="img-fluid rounded mb-4 mb-lg-0" src="/static/images/agil.png" alt="..." /></div>
</div>

<!-- Quiz -->
<div class="container-fluid main col-lg-10" id="exercicios">
    <div class="text-center">
        <h3>Teste seu Conhecimento</h3>
    </div>

    <!-- Pergunta 1 -->
    <div class="card border-secondary mb-4">
    
        <div class="card-header bg-blue text-white">
        <span>Pergunta 1</span>
        </div>
        <div class="card-body">
            <p>Nisi nobis aspernatur provident, inventore minus quos?</p>
            
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q1" id="q1_r1" value="r1">
                <label class="form-check-label" for="q1_r1">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </label>
            </div>
            
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q1" id="q1_r2" value="r2">
                <label class="form-check-label" for="q1_r2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </label>
            </div>
            
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q1" id="q1_r3" value="r3">
                <label class="form-check-label" for="q1_r3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </label>
            </div>
            
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q1" id="q1_r4" value="r4">
                <label class="form-check-label" for="q1_r4">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </label>
            </div>
            <div class="text-center mt-3">
                <button type="button ms-auto" class="btn btn-primary">Conferir</button>
            </div>
        </div>
    </div>

    <!-- Pergunta 2 -->
    <div class="card border-secondary mb-4 ">
    
        <div class="card-header bg-blue text-white">
        <span>Pergunta 2</span>
        </div>
        <div class="card-body">
            <p>Nisi nobis aspernatur provident, inventore minus quos?</p>
            
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q2" id="q2_r1" value="r1">
                <label class="form-check-label" for="q2_r1">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </label>
            </div>
            
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q2" id="q2_r2" value="r2">
                <label class="form-check-label" for="q2_r2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </label>
            </div>
            
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q2" id="q2_r3" value="r3">
                <label class="form-check-label" for="q2_r3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </label>
            </div>
            
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q2" id="q2_r4" value="r4">
                <label class="form-check-label" for="q2_r4">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </label>
            </div>
            <div class="text-center mt-3">
                <button type="button ms-auto" class="btn btn-primary">Conferir</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
