{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container-fluid comment-block">    
    <div class="d-flex justify-content-center row mb-3">
        <div class="d-flex flex-column col-md-8 mb-1">
            <div class="card p-2 px-4">
                <h2>Perfil</h2>
                <div>
                    <p>Detalhes da conta:</p>
                    <table>
                        <tr>
                            <td>Nome:</td>
                            <td>{{ account['nome'] }}</td>
                        </tr>
                        <tr>
                            <td>Password:</td>
                            <td>******</td>
                        </tr>
                        <tr>
                            <td>RF:</td>
                            <td>{{ account['regfun'] }}</td>
                        </tr>
                    </table>
                    <h3 class="text-center mt-3">Avaliações</h3>
                    <table class="table text-center table-bordered table-striped">
                        <thead class="bg-blue text-white">
                            <tr>
                                <th>Desempenho</th>
                                <th>Dia da Avaliação</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for avScore in avScore %}
                        <tr>
                            <td>{{ avScore[2] }}</td>
                            <td>{{ avScore[3] }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}