{% extends 'base2.html' %}

<!--Título-->
{% block title %}Ferramentas e Artefatos{% endblock %}

<!--Botão Sidebar-->

{% block sidebar %}
<a href="#" class="list-group-item list-group-item-action bg-lightgray"><i class="fas fa-people-group fa-fw me-2"></i></i><span>Ferramentas e Artefatos</span></a>
<a href="#" class="list-group-item list-group-item-action bg-lightgray"><i class="fa-solid fa-sitemap fa-fw me-2fa-fw me-2"></i><span>Product Backlog</span></a>
<a href="#" class="list-group-item list-group-item-action bg-lightgray"><i class="fa-solid fa-table-list fa-fw me-2"></i><span>Sprint Backlog</span></a>
<a href="#" class="list-group-item list-group-item-action bg-lightgray"><i class="fa-solid fa-list-check fa-fw me-2"></i><span>User Stories</span></a>
<a href="#" class="list-group-item list-group-item-action bg-lightgray"><i class="fa-solid fa-magnifying-glass-chart fa-fw me-2"></i><span>Planning Poker</span></a>
<a href="#" class="list-group-item list-group-item-action bg-lightgray"><i class="fa-solid fa-chart-line fa-fw me-2"></i><span>Burndown Chart</span></a>
<a href="#" class="list-group-item list-group-item-action bg-lightgray"><i class="fas fa-check fa-fw me-2 fa-fw me-2"></i><span>Exercícios</span></a>
{% endblock %}

<!--Conteúdo-->
{% block content %}
<!-- Introdução -->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid main bg-gray" style="margin-top: 40px;">
    <div class="col-lg-5">
        <h2 class="font-weight-light">Ferramentas e Artefatos</h2>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, obcaecati atque voluptas et aliquid quia voluptates voluptatum maiores quae blanditiis distinctio ea iusto. Dignissimos nihil, hic porro iusto magnam ex? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae, saepe. Ipsum, commodi numquam praesentium labore eaque voluptate magnam doloribus atque? Harum recusandae temporibus nulla itaque est iusto autem deserunt placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
    </div>
    <div class="col-lg-5"><img class="img-fluid rounded pb-4 mb-lg-0" src="/static/images/Ferramentas1.png" alt="..." /></div>
</div>

<!--Product Backlog-->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid main">
    <div class="col-lg-5">
        <h2 class="font-weight-light">Product Backlog</h3>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, obcaecati atque voluptas et aliquid quia voluptates voluptatum maiores quae blanditiis distinctio ea iusto. Dignissimos nihil, hic porro iusto magnam ex? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae, saepe. Ipsum, commodi numquam praesentium labore eaque voluptate magnam doloribus atque? Harum recusandae temporibus nulla itaque est iusto autem deserunt placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
    </div>
    <div class="col-lg-5"><img class="img-fluid rounded mb-4 mb-lg-0" src="/static/images/Ferramentas2.png" alt="..." /></div>
</div>


<!-- Sprint Backlog -->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-5 container-fluid main" id="sprint">
    <div class="col-lg-5">
        <h3 class="font-weight-light">Sprint Backlog</h3>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, obcaecati atque voluptas et aliquid quia voluptates voluptatum maiores quae blanditiis distinctio ea iusto. Dignissimos nihil, hic porro iusto magnam ex? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae, saepe. Ipsum, commodi numquam praesentium labore eaque voluptate magnam doloribus atque? Harum recusandae temporibus nulla itaque est iusto autem deserunt placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
    </div>
    <div class="col-lg-5">
        <iframe width="500" height="300" src="https://www.youtube.com/embed/yFQ3oofoPhU?si=ak2Xzm9sW_2i863H"></iframe>
    </div>
</div>



<!-- User Stories -->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid main">
    <div class="col-lg-5">
        <h2 class="font-weight-light">User Stories</h3>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, obcaecati atque voluptas et aliquid quia voluptates voluptatum maiores quae blanditiis distinctio ea iusto. Dignissimos nihil, hic porro iusto magnam ex? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae, saepe. Ipsum, commodi numquam praesentium labore eaque voluptate magnam doloribus atque? Harum recusandae temporibus nulla itaque est iusto autem deserunt placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
    </div>
    <div class="col-lg-5"><img class="img-fluid rounded mb-4 mb-lg-0" src="/static/images/Ferramentas3.png" alt="..." /></div>
</div>

<!-- Planning Poker -->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid main">
    <div class="col-lg-5">
        <h2 class="font-weight-light">Planning Poker</h3>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, obcaecati atque voluptas et aliquid quia voluptates voluptatum maiores quae blanditiis distinctio ea iusto. Dignissimos nihil, hic porro iusto magnam ex? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae, saepe. Ipsum, commodi numquam praesentium labore eaque voluptate magnam doloribus atque? Harum recusandae temporibus nulla itaque est iusto autem deserunt placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
    </div>
    <div class="col-lg-5"><img class="img-fluid rounded mb-4 mb-lg-0" src="/static/images/Ferramentas4.png" alt="..." /></div>
</div>

<!-- Burndown -->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid main">
    <div class="col-lg-5">
        <h2 class="font-weight-light">Burndown Chart</h3>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, obcaecati atque voluptas et aliquid quia voluptates voluptatum maiores quae blanditiis distinctio ea iusto. Dignissimos nihil, hic porro iusto magnam ex? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae, saepe. Ipsum, commodi numquam praesentium labore eaque voluptate magnam doloribus atque? Harum recusandae temporibus nulla itaque est iusto autem deserunt placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
    </div>
    <div class="col-lg-5"><img class="img-fluid rounded pb-4 mb-lg-0" src="/static/images/Ferramentas5.png" alt="..." /></div>
</div>
<!-- Quiz -->
<div class="container-fluid main col-lg-10" id="exercicios">
    <div class="text-center">
        <h3>Teste seu Conhecimento</h3>
    </div>

    <!-- Pergunta 1 -->
    <div class="card border-secondary mb-4">
    
        <div class="card-header bg-blue text-white">
        <span>Pergunta 1</span>
        </div>
        <div class="card-body">
            <p>Qual ferramenta Scrum é frequentemente usada para estimar o esforço necessário para completar user stories durante o planejamento da sprint?</p>
            
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q1" id="q1_r1" value="r1">
                <label class="form-check-label" for="q1_r1">
                    User Stories
                </label>
            </div>
            
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q1" id="q1_r2" value="r2">
                <label class="form-check-label" for="q1_r2">
                    Burndown Chart
                </label>
            </div>
            
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q1" id="q1_r3" value="r3">
                <label class="form-check-label" for="q1_r3">
                    Planning Poker
                </label>
            </div>
            
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q1" id="q1_r4" value="r4">
                <label class="form-check-label" for="q1_r4">
                    Sprint Backlog
                </label>
            </div>
            <div class="text-center mt-3">
                <button type="button ms-auto" class="btn btn-primary">Conferir</button>
            </div>
        </div>
    </div>

    <!-- Pergunta 2 -->
    <div class="card border-secondary mb-4">
    
        <div class="card-header bg-blue text-white">
        <span>Pergunta 2</span>
        </div>
        <div class="card-body">
            <p>Qual ferramenta Scrum é usada para acompanhar o progresso das tarefas ao longo do tempo, mostrando a quantidade de trabalho restante em uma sprint?</p>
            
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q1" id="q1_r1" value="r1">
                <label class="form-check-label" for="q1_r1">
                    User Stories
                </label>
            </div>
            
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q1" id="q1_r2" value="r2">
                <label class="form-check-label" for="q1_r2">
                    Backlog do Produto
                </label>
            </div>
            
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q1" id="q1_r3" value="r3">
                <label class="form-check-label" for="q1_r3">
                    Burndown Chart
                </label>
            </div>
            
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q1" id="q1_r4" value="r4">
                <label class="form-check-label" for="q1_r4">
                    Sprint Review
                </label>
            </div>
            <div class="text-center mt-3">
                <button type="button ms-auto" class="btn btn-primary">Conferir</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}
